html {
    background: #fff;
}

body {
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    padding: 2em 2em 4em;
    cursor: cell;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #000;
    cursor: pointer;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.zone-titre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.zone-titre h3 {
    display: inline-block;
    line-height: 40px;
    width: 90%;
    text-align: center;
    vertical-align: middle;
    background: red;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.liste {
    position: fixed;
    bottom: 0%;
    left: 5%;
}

ul {
    text-align: center;
}

li {
    list-style: none;
}

.liste a {
    display: block;
    width: 130px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #000;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.liste a:hover {
    display: block;
    width: 126px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

hr {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.numeros{
    padding: 5px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.numeros img {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    max-width: 100%;
}

.numeros h2 {
    text-align: center;
}

.carrousel {
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
}

.fleche {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    color:#fff!important;
    background-color:#000!important;
}

.fleche:disabled{
    cursor:not-allowed;opacity:0.3;
}

.fleche:hover{color:#000!important;
    background-color:#ccc!important;
}

.carrousel .f-gauche{
    position:relative;
    top:50%;
    left:0%;
}

.carrousel .f-droite{
    position:relative;
    top:50%;
    right:0%;
}

.bouton {
    text-align: center;
}

.bouton1{
    display: inline-block;
    position: relative;
    float: left;
}

.ou{
    display: inline-block;
    position: relative;
    float: inherit;
    line-height: 46px;
    vertical-align: middle;
}

.bouton2{
    display: inline-block;
    position: relative;
    float: right;
}

.bouton a {
    display: block;
    width: 350px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background: #000;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.bouton a:hover {
    display: block;
    width: 350px;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

#infos p {
    display: inline-block;
    text-align: justify;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    line-height: 1.25em;
    vertical-align: middle;
}